@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#0e1015] text-slate-100 antialiased font-sans;
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  }
}

/* Custom Sleek Scrollbars */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #111317;
}

::-webkit-scrollbar-thumb {
  background: #282d37;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #C8102E;
}
